

.btn-edit {
  margin-right: 0.5rem;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caption-title {
  font-size: 1.60rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card {
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  box-shadow: 
    0 8px 24px rgba(0, 0, 0, 0.12),
    0 2px 6px rgba(0, 0, 0, 0.08);
}

p-iconfield {
  display: flex;
  margin: 0.5rem;
}

p-iconfield p-button {
  margin-left: 0.5rem ;
}