<p-confirmdialog />
<div class="toolbar">
  <p-button
    icon="pi pi-search"
    sevetiry="secondary"
    type="button"
    label="Buscar"
    (onClick)="onSearch()"
  />
  <input
    pInputText
    class="input-text"
    type="text"
    [(ngModel)]="q"
    placeholder="Buscar por nome ou email"
  />
  <p-select class="filter" [options]="searchOptions" [(ngModel)]="searchField"> </p-select>
</div>

<p *ngIf="loading">Carregando...</p>
<p *ngIf="error" class="error">{{ error }}</p>

<p-table
  *ngIf="!loading"
  [value]="employees"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20]"
  stripedRows
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Função</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-e>
    <tr>
      <td>{{ e.name }}</td>
      <td>{{ e.email }}</td>
      <td>{{ e.role }}</td>
      <td>{{ e.active ? 'Sim' : 'Não' }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          label="Editar"
          severity="warn"
          class="btn-edit"
          (click)="onEdit(e)"
        />
        <p-button
          icon="pi pi-trash"
          label="Excluir"
          severity="danger"
          class="btn-delete"
          (click)="confirm($event, e)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">Nenhum funcionário encontrado.</td>
    </tr>
  </ng-template>
</p-table>
