.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.header button {
  padding: 1rem;
}

.btn-employees {
  margin-right: 1rem;
}
