.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border-bottom: 1px solid #ccc;
}

.header p-button {
  padding: 1rem;
  margin-right: 0.5rem;
}
