@import 'ngx-toastr/toastr';
@import 'primeicons/primeicons.css';

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body,
html {
  height: 100%;
  margin: 0;
}

main.main > *:not(app-footer):not(app-header):not(router-outlet) {
  flex: 1;
}
